<h1>Listing t_diary_plugin_files</h1>

<table>
  <tr>
    <th>Path</th>
    <th>Date</th>
    <th>Message</th>
  </tr>

<% @t_diary_plugin_files.each do |t_diary_plugin_file| %>
  <tr>
		<td><a href="<%= t_diary_plugin_file.link %>"><%= t_diary_plugin_file.path %></a></td>
    <td><%= t_diary_plugin_file.commit.date %></td>
		<td><a href="<%= t_diary_plugin_file.commit.link %>"><%= t_diary_plugin_file.commit.message %></a></td>
  </tr>
<% end %>
</table>

